<article class="container-fill-height provider-signup">
  <div class="container-content-middle">
  <% if flash.key? :success %>
    <div class="alert-success text-center"><%= flash[:success] %></div>
  <% end %>

  <%= render "providers/signup_instructions" %>
  <%= render "providers/identification_upload_form" %>
  <%= render "providers/selfie_upload_form" %>
  <%= render "providers/license_upload_form" %>
  <%= render "providers/licenses" %>

  </div>
</article>
