<div class="col-lg-3">
  <%= render "sidebars/left_sidebar" %>
</div>

<div class="col-lg-6">
<h3>New Service</h3>
<%= form_for :service, url: user_services_path do |f| %>
  <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </p>

  <p>
  <%= f.label :price %><br>
  <%= f.text_field :price %>
  </p>


  <p>
  <%= f.submit %>
  </p>
<% end %>
</div>

<div class="col-lg-3">
  <%= render "sidebars/right_sidebar" %>
</div>

