<div class="col-lg-3">
  <div class="card card-profile mb-4">
    <% present current_user do |user_presenter| %>

      <div class="card-header" style="<%= user_presenter.cover_photo %>"></div>
      <div class="card-block text-center">
        <a href="profile/index.html">
          <%= user_presenter.card_profile_image %>
        </a>

        <h6 class="card-title">
          <%= user_presenter.link_to_show %>
        </h6>

        <%= user_presenter.bio(class_name: "mb-4") %>

        <ul class="card-menu">
          <li class="card-menu-item">
            <a href="#userModal" class="text-inherit" data-toggle="modal">
              Reviews
              <h6 class="my-0">120</h6>
            </a>
          </li>

          <li class="card-menu-item">
            <a href="#userModal" class="text-inherit" data-toggle="modal">
              Photos
              <h6 class="my-0">341</h6>
            </a>
          </li>
        </ul>
      </div>
  </div>

  <div class="card visible-md-block visible-lg-block mb-4">
    <div class="card-block">
      <h6 class="mb-1 mt-1">About <small>· <a href="#">Edit</a></small></h6>
      <ul class="list-unstyled list-spaced">
        <li>
          <span class="text-muted icon icon-home"></span>
          Went to <a href="#">Aveda Minneapolis</a>
        </li>
        <li>
          <span class="text-muted icon icon-home"></span>
          Works at <a href="#">Cutler Salon - Brooklyn</a>
        </li>
        <li>
          <span class="text-muted icon icon-home"></span>
          Lives in <a href="#">San Francisco, CA</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card visible-md-block visible-lg-block">
    <div class="card-block">
      <h6 class="mb-1 mt-1">Photos <small>· <a href="#">Edit</a></small></h6>
      <div data-grid="images" data-target-height="150">
        <% user_presenter.photo_thumbnails do |thumbnail| %>
          <%= thumbnail %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <!-- 
    <ul class="list-group media-list media-list-stream mb-4">

    <li class="media list-group-item p-4">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Message">
    <div class="input-group-btn">
    <button type="button" class="btn btn-secondary">
    <span class="icon icon-camera"></span>
    </button>
    </div>
    </div>
    </li>

    <li class="media list-group-item p-4">
    <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-dhg.png">
    <div class="media-body">
    <div class="media-heading">
    <small class="float-right text-muted">4 min</small>
    <h6>Dave Gamache</h6>
    </div>

    <p>
    Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>

    <div class="media-body-inline-grid" data-grid="images"><div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
    <img data-action="zoom" data-width="1050" data-height="700" src="assets/img/unsplash_1.jpg" style="width: 346px; height: 231px;">
    </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;">
    <img data-action="zoom" data-width="640" data-height="640" src="assets/img/instagram_1.jpg" style="width: 167px; height: 168px;">
    </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
    <img data-action="zoom" data-width="640" data-height="640" src="assets/img/instagram_13.jpg" style="width: 168px; height: 168px;">
    </div><div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;">
    <img data-action="zoom" data-width="1048" data-height="700" src="assets/img/unsplash_2.jpg" style="width: 346px; height: 231px;">
    </div></div>

    <ul class="media-list mb-2">
    <li class="media mb-3">
    <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-fat.jpg">
    <div class="media-body">
    <strong>Jacon Thornton: </strong>
    Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
    </div>
    </li>
    <li class="media">
    <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-mdo.png">
    <div class="media-body">
    <strong>Mark Otto: </strong>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </div>
    </li>
    </ul>
    </div>
    </li>
    </ul>
  -->
</div>

<div class="col-lg-3">
  <div class="alert alert-warning alert-dismissible hidden-md-down" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <a class="alert-link" href="/users/<%= current_user.id %>">Visit your profile!</a> Check your self, you aren't looking well.
  </div>

  <div class="card mb-4 hidden-md-down">
    <div class="card-block">
      <h6 class="mb-1 mt-1">Sponsored</h6>
      <div data-grid="images" data-target-height="150"><img class="media-object" data-width="640" data-height="640" data-action="zoom" src="/assets/head-massage-emoji.png" style="width: 179px; height: 168px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
      <p><strong>Rent a salon chair today! Be your own boss!</strong> It's time
      to make a change today and rent your own salon chair.</p>
      <button class="mb-1 btn btn-outline-primary btn-sm">More Info</button>
    </div>
  </div>

  <div class="card card-link-list">
    <div class="card-block">
      © 2015 Bootstrap
      <a href="#">About</a>
      <a href="#">Help</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Cookies</a>
      <a href="#">Ads </a>
      <a href="#">Info</a>
      <a href="#">Brand</a>
      <a href="#">Blog</a>
      <a href="#">Status</a>
      <a href="#">Apps</a>
      <a href="#">Jobs</a>
      <a href="#">Advertise</a>
    </div>
  <% end %>
  </div>
</div>
