<div class="col-12 jumbotron">
  <%= image_tag "haircut-emoji.png", 
    {class: "bottom-left-profile-photo img-fluid img-thumbnail",
     alt: "Responsive image"} %>
</div>

<div class="col-sm-4 profile-widgets">
  <div id="row">
  </div>
  <div id="row profile-widget-services">
  </div>
  <div id="profile-widget-location">
  </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <h4>About Me</h4>
    <p>
    Name: Cindy Lauper
    <br>
    I have trained at the world famous blah blah blah.
    My hurrcuts are fabulous and you will love your new look.
    </p>

    <h4>Service List</h4>
    <%= render "users/service_list" %> 
    <%= render "services/new" %>
    <%= render "services/index" %>

    <h4>Locations</h4>
    <%= render "locations/new" %>
    <%= render "locations/index" %>

    <%= render "users/schedule" %> 
  </div>
</div>
