<article>

  <header>
    <h1 class="h2">Stylist Search</h1>
  </header>

  <%= render "maps/stylist_map.js.erb", locals: {stylists: @stylists} %>

  <section class="search-results">
    <header>
      <h1 class="h3">Results</h1>
    </header>

    <%= link_to_previous_page @stylists, 'Previous Page', class: 'float-xs-left' %>
    <%= link_to_next_page @stylists, 'Next Page', class: 'float-xs-right' %>

    <ol class="list-group col-xs-12">
    <% @stylists.each do |stylist| %>
      <li class="list-group-item clearfix">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          <%= stylist["created_at"] %>
        </h3>
        <h2 class="h3">
          <%= stylist["first_name"] %> <%= stylist["last_name"] %>
        </h2>
        <h4><!--<#= stylist.print_locations %> --></h4>
      </li>
    <% end %>
    </ol>

  </section>

</article>

