<header>
  <h1 class="h2">Stylist Search</h1>
</header>

<section class="search-form">
  <%= form_for :stylists, method: :get do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag :stylist, nil, class: "sr-only" %>
        <%= text_field_tag 'search_terms[stylist]', nil,
              placeholder: "First Name, Last Name",
              class: "form-control input-lg" %>
      </div>
    </div>
    
    <div class="col-sm-5">
      <div class="form-group">
        <%= label_tag :near, nil, class: "sr-only" %>
        <%= text_field_tag 'search_terms[near]', nil,
              placeholder: "New York, NY",
              class: "form-control input-lg" %>
      </div>
    </div>
    
    <div class="col-sm-1">
      <%= submit_tag "Find",
        class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Location</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @stylists.each do |stylist| %>
        <tr>
          <td><%= stylist.first_name %></td>
          <td><%= stylist.last_name %></td>
          <td><%= stylist.locations.first.to_string %></td>
          <td><%= l stylist.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
