<article ng-app="stylists" ng-controller="StylistsSearchController">

  <header>
    <h1 class="h2">Stylist Search</h1>
  </header>

  <section class="search-form">
    <form>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="stylist" class="sr-only">Stylist</label>
            <input type="text"
                   name="search_terms[stylist]"
                   class="form-control input-lg"
                   placeholder="First Name, Last Name"
                   ng-model="stylist">
          </div>
        </div>
        
        <div class="col-sm-5">
          <div class="form-group">
            <label for="near" class="sr-only">Near</label>
            <input type="text"
                   name="search_terms[near]"
                   class="form-control input-lg"
                   placeholder="City, State"
                   ng-model="near">
          </div>
        </div>
        
        <div class="col-sm-2">
          <button class="btn btn-primary btn-lg"
                  ng-click="search(search_terms)">
            Search
          </button>
        </div>
      </div> <!-- /.row -->
    </form>
  </section>

  <section class="search-results">
    <header>
      <h1 class="h3">Results</h1>
    </header>
    <%= render partial: "pager", locals: { search_terms: @search_terms, page: @page } %>

    <ol class="list-group">
      <% @stylists.each do |stylist| %>
        <li class="list-group-item clearfix">
          <h3 class="pull-right"><small class="text-uppercase">Joined</small>
            <%= l stylist.created_at.to_date %>
          </h3>
          <h2 class="h3">
            <%= stylist.first_name %> <%= stylist.last_name %>
          </h2>
          <h4><%= stylist.locations.first.to_string %></h4>
        </li>
      <% end %>
    </ol>
    <%= render partial: "pager", locals: { search_terms: @search_terms, page: @page } %>
  </section>

</article>
