<div class="col-12 jumbotron">
  <%= image_tag "haircut-emoji.png", 
    {class: "bottom-left-profile-photo img-fluid img-thumbnail",
     alt: "Responsive image"} %>
</div>

<div class="col-sm-4 profile-widgets">
  <div id="row">
    <h4>About Me</h4>
    <p>
    Name: Cindy Lauper
    <br>
    I have trained at the world famous blah blah blah.
    My hurrcuts are fabulous and you will love your new look.
    </p>
  </div>
  <div id="row profile-widget-services">
    <h4>Service List</h4>
    <%= render "services/new" %>
    <%= render "services/index" %>
  </div>
  <div id="profile-widget-location">
    <h4>Locations</h4>
    <%= render "locations/new" %>
    <%= render "locations/index" %>
  </div>
</div>

<div class="col-sm-8">
  <div class="row">
    <ul class="nav nav-tabs float-xs-right" role="tablist">
      <li class="nav-item">
        <a class="nav-link active"
           data-toggle="tab"
           href="#Services"
           role="tab">Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           data-toggle="tab"
           href="#Schedule"
           role="tab">Schedule
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           data-toggle="tab"
           href="#Albums"
           role="tab">Albums
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"
           data-toggle="tab"
           href="#SocialFeed"
           role="tab">Social Feed
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="services" role="tabpanel">
        <%= render "stylists/service_list" %> 
      </div>
      <div class="tab-pane" id="schedule" role="tabpanel">...</div>
      <div class="tab-pane" id="albums" role="tabpanel">...</div>
      <div class="tab-pane" id="social-feed" role="tabpanel">...</div>
    </div>
  </div>
</div>
