<!DOCTYPE html>
<html>
  <head>
	<title>Stylist</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYNqRyHQWcSGMzOeYIj6wHLzytzV7GcA0">
  </script>

	<script>
		transformicons.add('.tcon')
			.remove('.tcon-menu--xbutterfly')
			.add('.tcon-menu--xbutterfly', {
				transform: "mouseover",
				revert: "mouseout"
			});
  </script>

  </head>

  <div class="head-container">
    <div class="header-row">
      <%= render "layouts/nav" %>
    </div>
  </div>

  <div class="main-container">
    <div class="content-row">
      <%= render "layouts/login_errors" %>    
      <%= yield %>
    </div>

    <div class="footer-row" style="background-color: grey;">
      BeautyPin Copyright 2017
    </div>

  </div>

</html>
